<div class="container">
  <div class="item-create-search">
    <div class="div-create">
      <!-- Button trigger modal create employee -->
      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createEmployee">
          Create employee
        </button> -->
      <button class="btn btn-outline-primary mb-2 me-2" (click)="openModalDialogCustomClass(createFormWS)">
        Create Work Schedule
      </button>
    </div>
    <div class="search">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
        viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
      </svg>
      <input type="text" class="input-search" placeholder="Seaching">
    </div>
  </div>

  <div class="table">
    <table cTable hover>
      <thead>
        <tr>
          <th scope="col">ScheduleID</th>
          <th scope="col">EmployeeID</th>
          <th scope="col">Full Name</th>
          <th scope="col">Shift Start</th>
          <th scope="col">Shift End</th>
          <th scope="col">Work Date</th>
          <th scope="col">isScheduled</th>
          <th scope="col">Channel</th>
          <th scope="col">Created By</th>
          <th scope="col">Created At</th>
          <th scope="col" style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of schedules">
          <th scope="row">{{item.ScheduleID}}</th>
          <td>{{item.EmployeeID}}</td>
          <td>{{item.FullName}}</td>
          <td>{{item.ShiftStart}}</td>
          <td>{{item.ShiftEnd}}</td>
          <td>{{item.workdate}}</td>
          <td>{{item.isScheduled}}</td>
          <td>{{item.ChannelName}}</td>
          <td>{{item.CreatedBy}}</td>
          <td>{{item.createdAt}}</td>
          <td>
            <button class="btn btn-edit" style="color: blue;" (click)="openEdit(editFormWS,item)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path
                  d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
              </svg>
            </button>
            <button type="button" (click)="deleteSchedule(item.ScheduleID)" class="btn btn-delete" style="color: red;">
              <svg cIcon name="cil-trash" size="s"></svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #createFormWS let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create Work Schedule</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createForm">
      <div class="form">
        <label for="">Employee</label>
        <div class="form-row-modal">
          <table>
            <tr>
              <th>EmployeeID</th>
              <th>Name</th>
              <th>Check</th>
            </tr>
            <tr *ngFor=" let agent of agents">
              <td>{{agent.EmployeeID}}</td>
              <td>{{agent.FullName}}</td>
              <th>
                <input 
                [checked]="isSelected(agent)"
                (change)="toggleSelection($event, agent)"
                type="checkbox">
              </th>
            </tr>
          </table>
          <!-- <select  class="form-select" formControlName="EmployeeID">
            <option *ngFor="let emp of agents" [value]="emp.EmployeeID">{{emp.EmployeeID}} - {{emp.FullName}}</option>
          </select> -->
         
         
        </div>
      </div>
      <div class="form">
        <div class="form-group">
          <label for="">Work Date</label>
          <input type="date" formControlName="WorkDate" class="form-control" id="inputPassword4">
        </div>
      </div>
      <div class="form">
        <div class="form-group">
          <label for="">Channel</label>
          <select formControlName="ChannelID" class="form-select">
            <option *ngFor="let item of channels" [value]="item.ChannelID">{{ item.ChannelName}}</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <label for="">is Schedule</label>
          <input 
          type="checkbox" 
          formControlName="isScheduled"
          [checked]="isScheduled === 1" 
          (change)="toggleScheduled($event)" 
          >
        </div>
      </div>
      <div class="form-row-modal">
        <table>
          <tr>
            <th>ShiftTypeID</th>
            <th>Shift Type Name</th>
            <th>Shift Start</th>
            <th>Shift End</th>
            <th>Action
            </th>
          </tr>
          <tr *ngFor="let item of shifts">
            <td scope="row">{{ item.ShiftTypeID}}</td>
            <td>{{ item.ShiftTypeName }}</td>
            <td>{{item.ShiftStart}}</td>
            <td>{{ item.ShiftEnd}}</td>
            <td>
              <input 
              type="checkbox"
              [checked]="isSelected(item)"
              (change)="toggleSelection($event,item)"
              >
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer mt-1">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-primary" (click)="modal.close(onSubmitCreate())">Save</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #editFormWS let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Work Schedule</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">
      <div class="form">
        <div class="form-group">
          <label for="">Employee</label>
          <select  class="form-select" formControlName="EmployeeID" >
            <option selected *ngFor="let emp of editEmployee" [value]="emp.EmployeeID">{{emp.EmployeeID}} - {{emp.FullName}}</option>
          </select>
         
        </div>
      </div>
      <div class="form">
        <div class="form-group">
          <label>Work Date</label>
          <input type="date" formControlName="WorkDate" class="form-control" >
        </div>
      </div>
      <div class="form">
        <div class="form-group">
          <label for="">Channel</label>
          <select formControlName="ChannelID" class="form-select">
            <option *ngFor="let item of channels" [value]="item.ChannelID">{{ item.ChannelName}}</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <label for="">isSchedule</label>
          <input 
          type="checkbox" 
          formControlName="isScheduled"
          [checked]="isScheduled === 1" 
          (change)="toggleScheduled($event)" 
          >
        </div>
      </div>
      <div class="form-row-modal">
        <table>
          <tr>
            <th>ShiftTypeID</th>
            <th>Shift Type Name</th>
            <th>Shift Start</th>
            <th>Shift End</th>
            <th>Action
            </th>
          </tr>
          <tr *ngFor="let item of shifts">
            <td scope="row">{{ item.ShiftTypeID}}</td>
            <td>{{ item.ShiftTypeName }}</td>
            <td>{{item.ShiftStart}}</td>
            <td>{{ item.ShiftEnd}}</td>
            <td>
              <input 
              type="checkbox"
              [checked]="isSelectedEdit(item.ShiftTypeID)"
              (change)="toggleSelection($event,item)"
              >
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer mt-1">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-primary" (click)="modal.close(onSubmitEdit())">Save</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- <ng-template #editFormWS let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Tenant</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-row-modal">
        <div class="form-group">
          <label for="">Tenant Name</label>
          <input type="text" formControlName="TenantName" class="form-control">
        </div>
        <div class="form-group ">
          <label for="">SubscriptionDetails</label>
          <input type="text" formControlName="SubscriptionDetails" class="form-control" id="inputPassword4">
        </div>
      </div>
      <div class="modal-footer mt-1">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-primary" (click)="modal.close(onSubmitEdit())">Update</button>
      </div>
    </form>
  </div>
</ng-template> -->