
<div>
    <div class="filter"></div>
    <div class="create-permission">
      <button class="btn btn-primary" (click)="openCreatePermission(CreatePermssion)">Create Permission</button>
    </div>
  <div class="table">
    <table class="report-table" cTable hover>
      <thead>
        <tr>
          <th scope="col" >ID</th>
          <th scope="col">Full Name</th>
          <th scope="col">Account </th>
          <th scope="col">Role</th>
          <th scope="col">Tenant</th>
          <th scope="col">Permission</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of accounts">
            <th scope="row">{{item.AccountID}}</th>
            <td>{{item.FullName}}</td>
            <td>{{item.username}}</td>
            <td>{{item.RoleName}}</td>
            <td>{{item.TenantName}}</td>
            <td>
                <button class="btn mb-2 me-2" (click)="openDetailPermission(viewPermissionModal, item.AccountID)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                    </svg>
                </button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>



<ng-template #viewPermissionModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Permission</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <div class="create-module">
      <button class="btn btn-primary" (click)="openCreateModule(CreateModule)">Create Module</button>
    </div>
      <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"  >No.</th>
                    <th scope="col"  >Module</th>
                    <th scope="col"  >Add</th>
                    <th scope="col"  >View</th>
                    <th scope="col"  >Edit</th>
                    <th scope="col"  >Delete</th>
                    <th scope="col"  >Export</th>
                    <th scope="col"  >Action</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of moduleAndPer">
                <th>{{item.PermissionID}}</th>
                <td>{{item.ModuleName}}</td>
                <td>
                  <input type="checkbox" [(ngModel)]="item.CanAdd">
                </td>
                <td>
                  <input type="checkbox" [(ngModel)]="item.CanEdit">
                </td>
                <td>
                  <input type="checkbox" [(ngModel)]="item.CanDelete">
                </td>
                <td>
                  <input type="checkbox" [(ngModel)]="item.CanExport">
                </td>
                <td>
                  <input type="checkbox" [(ngModel)]="item.CanView">
                </td>
                <td>
                  <button class="btn-permission-delte">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>  
      </table>
      <div class="modal-footer mt-1">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-primary" (click)="onEditPermission()">Save</button>
      </div>
	</div>
</ng-template>

<ng-template #CreatePermssion let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Create Permission</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form [formGroup]="createPermissionForm" >
      <div class="form-group">
        <label for="">Account</label>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th>Account</th>
              <th>Full Name</th>
              <th>Role</th>
              <th>Tenant</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of accounts">
              <th scope="col">
                {{item.AccountID}}
              </th>
              <td>{{item.username}}</td>
              <td>
                {{item.FullName}}
              </td>
              <td>{{item.RoleName}}</td>
              <td>{{item.TenantName}}</td>
              <td>
                <input 
                type="checkbox" 
                [checked]="isSelected(item)"
                (change)="toggleSelection($event, item)"
                >
              </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <label for="">Module</label>
        <table class="table  table-striped">
          <thead>
            <tr>
              <th scope="col">
                No.
              </th>
              <th>Module Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of modules">
              <th scope="col">{{item.ModuleID}}</th>
              <td>{{item.ModuleName}}</td>
              <td>
                <input 
                  type="checkbox"
                  [checked]="isSelected(item)"
                  (change)="toggleSelection($event, item)"  
                 >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <label for="">Permission</label>
        <table class="table table-striped">
          <thead>
              <tr>           
                  <th scope="col"  >Add</th>
                  <th scope="col"  >View</th>
                  <th scope="col"  >Edit</th>
                  <th scope="col"  >Delete</th>
                  <th scope="col"  >Export</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="checkbox" formControlName="CanAdd" >
              </td>
              <td>
                <input type="checkbox" formControlName="CanView" >
              </td>
              <td>
                <input type="checkbox" formControlName="CanEdit" >
              </td>
              <td>
                <input type="checkbox" formControlName="CanDelete" >
              </td>
              <td>
                <input type="checkbox" formControlName="CanExport" >
              </td>
             
            </tr>
          </tbody>  
        </table>
      </div>
    
  <div class="modal-footer mt-1">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    <button type="submit" class="btn btn-primary" (click)="modal.close(onSubmitCreatePermission())" >Save</button>
  </div>
    </form>
     
	</div>
</ng-template>

<ng-template #CreateModule let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Create Module</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form action="">
      <div class="form-group">
        <label for="">Module</label>
        <table class="table  table-striped">
          <thead>
            <tr>
              <th scope="col">
                No.
              </th>
              <th>Module Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">1</th>
              <td>Employee</td>
              <td>
                <input type="checkbox" name="" id="">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <label for="">Permission</label>
        <table class="table table-striped">
          <thead>
              <tr>
                  
                  <th scope="col"  >No.</th>
                  <th scope="col"  >Add</th>
                  <th scope="col"  >View</th>
                  <th scope="col"  >Edit</th>
                  <th scope="col"  >Delete</th>
                  <th scope="col"  >Export</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>
                <input type="checkbox" name="" id="">
              </td>
              <td>
                <input type="checkbox" name="" id="">
              </td>
              <td>
                <input type="checkbox" name="" id="">
              </td>
              <td>
                <input type="checkbox" name="" id="">
              </td>
              <td>
                <input type="checkbox" name="" id="">
              </td>
             
            </tr>
          </tbody>  
        </table>
      </div>
    
  <div class="modal-footer mt-1">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    <button type="submit" class="btn btn-primary" >Save</button>
  </div>
    </form>
     
	</div>
</ng-template>