<div class="container">
  <div class="item-create-search">
    <div class="div-create">
      <!-- Button trigger modal create employee -->
      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createEmployee">
          Create employee
        </button> -->
      <button class="btn btn-outline-primary mb-2 me-2" (click)="openModalDialogCustomClass(createFormModal)">
        Create overtime
      </button>
    </div>
    <div class="search">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
        viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
      </svg>
      <input type="text" class="input-search" placeholder="Seaching">
    </div>
  </div>


  <!-- Nav  -->
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbNavLink>In Queue</button>
    <ng-template ngbNavContent>
     
      <div class="table">
        <table cTable hover>
          <thead>
            <tr>
              <th scope="col">OvertimeID</th>
              <th scope="col">EmployeeID</th>
              <th scope="col">FullName</th>
              <th scope="col">Hour</th>
              <th scope="col">Date</th>
              <th scope="col">Reason</th>
              <th scope="col">Status</th>
              <th scope="col" style="text-align: center;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pendingOT">
              <th scope="row">{{item.OverTimeID}}</th>
              <td>{{item.EmployeeID}}</td>
              <td>{{item.FullName}}</td>
              <td>{{item.OvertimeHour}}</td>
              <td>{{item.OvertimeDate}}</td>
              <td>{{item.Reason}}</td>
              <td>
                <span
                  [ngClass]="{'status-pending': item.Status === 'pending', 'status-approved': item.Status === 'approved', 'status-reject': item.Status === 'reject'}">
                  {{item.Status}}
                </span>
              </td>
              <td style="display: contents;">
                <button class="btn btn-primary btn-approved" (click)="onApprovedClick(item.OverTimeID)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                  </svg>
                  Approve
                </button>
                <button (click)="onRejectClick(item.OverTimeID)" type="button"  class="btn btn-reject" >
                  Reject
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Approve</button>
    <ng-template ngbNavContent>
      <div class="table">
        <table cTable hover>
          <thead>
            <tr>
              <th scope="col">OvertimeID</th>
              <th scope="col">EmployeeID</th>
              <th scope="col">FullName</th>
              <th scope="col">Hour</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of approvedOT">
              <th scope="row">{{item.OverTimeID}}</th>
              <td>{{item.EmployeeID}}</td>
              <td>{{item.FullName}}</td>
              <td>{{item.OvertimeHour}}</td>
              <td>{{item.OvertimeDate}}</td>
              <td>
                <span
                  [ngClass]="{'status-pending': item.Status === 'pending', 'status-approved': item.Status === 'approved', 'status-reject': item.Status === 'reject'}">
                  {{item.Status}}
                </span>
              </td>
              <td>
                <button class="btn btn-danger" style="color: white;" (click)="deleteOT(item.OverTimeID)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button ngbNavLink>Reject</button>
    <ng-template ngbNavContent>
      <div class="table">
        <table cTable hover>
          <thead>
            <tr>
              <th scope="col">OvertimeID</th>
              <th scope="col">EmployeeID</th>
              <th scope="col">FullName</th>
              <th scope="col">Hour</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of rejectedOT">
              <th scope="row">{{item.OverTimeID}}</th>
              <td>{{item.EmployeeID}}</td>
              <td>{{item.FullName}}</td>
              <td>{{item.OvertimeHour}}</td>
              <td>{{item.OvertimeDate}}</td>
              <td>
                <span
                  [ngClass]="{'status-pending': item.Status === 'pending', 'status-approved': item.Status === 'approved', 'status-reject': item.Status === 'reject'}">
                  {{item.Status}}
                </span>
              </td>
              <td>
                <button class="btn btn-danger" style="color: white;" (click)="deleteOT(item.OverTimeID)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>




</div>

<!-- Modal create employee -->
<ng-template #createFormModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create overtime</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createForm">
      <div class="form-row-modal">
        <div class="form-group">
          <label for="">Date</label>
          <input type="date" formControlName="OvertimeDate" class="form-control">
        </div>
        <div class="form-group ">
          <label for="">Work Hour</label>
          <input type="text" placeholder="00:00:00" formControlName="OvertimeHour" class="form-control"
            id="inputPassword4">
        </div>
      </div>
      <div class="form-row-modal">
        <div class="form-group">
          <label for="">Reason</label>
          <input type="text" formControlName="Reason" class="form-control reason">
        </div>
      </div>
      <div class="modal-footer mt-1">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-primary" (click)="modal.close(onSubmitCreate())">Save</button>
      </div>
    </form>
  </div>
</ng-template>


<!-- Modal edit employee-->
<ng-template #editFormModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit overtime</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">
      <div class="form-row-modal">
        <div class="form-group">
          <label for="">Date</label>
          <input type="date" formControlName="OvertimeDate" class="form-control">
        </div>
        <div class="form-group ">
          <label for="">Work Hour</label>
          <input type="text" placeholder="00:00:00" formControlName="OvertimeHour" class="form-control"
            id="inputPassword4">
        </div>
      </div>
      <div class="form-row-modal">
        <div class="form-group">
          <label for="">Reason</label>
          <input type="text" formControlName="Reason" class="form-control reason">
        </div>
      </div>
      <div class="modal-footer mt-1">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-primary" (click)="modal.close(onSubmitCreate())">Save</button>
      </div>
    </form>
  </div>
</ng-template>


