.box{
    background-color: white;
    border-radius: 10px;
    height: 130px;
    display: flex;
    justify-content: center;
    .box-option{
        margin: 14px 10px;
        label{
            font-weight: 500
        }
        .btn-option{
            margin-top: 24px;
        }
    }
}

.report-table{
    background-color: white;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    .table .table-striped{
        margin: 10px
    }
}